body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: rgb(235, 251, 255);
}

h1 {
    color: rgb(255, 0, 0);
}

.t1 {
    background-color: aliceblue;
    margin: 20px 10px;
    display: block;
    width: 1000px;
    border: 2px solid;
}

.media {
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: rgb(137, 255, 180);
    padding: 10px ;
}

.vidhead {
    margin-right: 10px;
    color: #006605;
    border: 2px solid;
    border-color: black;
    padding: 5px;
}

.VID {
    display: flex;
    align-items: center;
    flex-direction: column;
}